
[params.fuseOpts]
  isCaseSensitive = false
  shouldSort = true
  location = 0
  distance = 1000
  threshold = 0.4
  minMatchCharLength = 1
  limit = 10
  numToSuggest = 10
  keys = ["title", "permalink", "summary", "content"]
