<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "description": "{{ .Site.Params.description }}",
  "publisher": {
    "@type": "Organization",
    "name": "AudioBook Italiani",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}images/logo.png"
    }
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{ .Site.BaseURL }}search?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>

{{ if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ .Params.description }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default "AudioBook Italiani Team" }}"
  },
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "image": "{{ if .Params.cover.image }}{{ .Site.BaseURL }}{{ .Params.cover.image }}{{ end }}",
  "publisher": {
    "@type": "Organization",
    "name": "AudioBook Italiani"
  }
}
</script>
{{ end }}
